<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415959865065-0sahgpeav3kbe5japh4v3b1ole252jrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415959865065-0sahgpeav3kbe5japh4v3b1ole252jrg</string>
	<key>API_KEY</key>
	<string>AIzaSyALJwX869tdKLPDPUY6F1jx_iheFrgtfnY</string>
	<key>GCM_SENDER_ID</key>
	<string>415959865065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AK.RealTimeChat</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-4e791</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-4e791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:415959865065:ios:05b61f900fb408a9</string>
	<key>DATABASE_URL</key>
	<string>https://realtimechat-4e791.firebaseio.com</string>
</dict>
</plist>
